In [ ]:
import socket

In [ ]:
s = socket.socket()
print("Socket obj created",s)

In [ ]:
s.bind(('localhost',9999))
print("conected to local host")
s.listen(3)
while True:
    c,add = s.accept()
    name = c.recv(1024).decode()
    print("Conection",add,name)
    c.send(bytes("My name of port in python",'utf-8'))
    c.close

In [ ]:
pip install flask

In [ ]:
from flask import Flask

In [ ]:
app = Flask(__name__)

@app.route('/')
def hello_world():
   return 'Hello Tutoria lspoint'

if __name__ == '__main__':
   app.run()

In [ ]:
pip install mysql-connector-python

In [2]:
import mysql.connector

In [3]:
mysql = mysql.connector.Connect(
    host = "localhost",
    user = "root",
    password = "root"

)
print(mysql)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000027E851E3460>

In [4]:
cur_obj = mysql.cursor()
cur_obj.execute("create database New_PythonDB")

DatabaseError: 1007 (HY000): Can't create database 'new_pythondb'; database exists

In [5]:
cur_obj.execute("show databases")

In [6]:
for x in cur_obj:  
    print(x)

('information_schema',)
('mysql',)
('new_pythondb',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [9]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
  database="new_pythondb"
)

mycursor = mydb.cursor()
qur = "INSERT INTO EMPLOYEE(name,address) VALUES (%s,%s)"
val = ("Anuj","Dhanare colony")
try:
    mycursor.execute(qur,val)
    mydb.commitm()
except:
    mydb.rollback()
print(mycursor.rowcount)
mydb.close()

-1

In [10]:
import mysql.connector  
#Create the connection object   
conn = mysql.connector.connect(host = "localhost", user = "root",passwd = "root",database = "new_pythondb")  
#creating the cursor object  
cur = conn.cursor()  
sql = "insert into customers(name, address) values (%s, %s)"  
  
#The row values are provided in the form of tuple   
# val = ("Ashish", 111, 35000.00, 202, "India") 
val = ("Anuj", "Mohan Nagar") 
  
try:  
    #inserting the values into the table  
    cur.execute(sql,val)  
  
    #commit the transaction   
    conn.commit()  
      
except:  
    conn.rollback()  
  
print(cur.rowcount,"record inserted!")  
conn.close()

1 record inserted!